html
  head
    link(rel='stylesheet', type='text/css', href='bundl_style./css/.css')
  body
    center
      img(src='./images/bundlLogo.png', alt='BUNDLe Logo')
    
      p
      |About us text:
      |Our Mission:
      |Dealing with a multitude of social media websites can be a lot to juggle, so we decided it
      |would be easier to simply integrate them all into a single place where they can all be managed with ease!
      |The Team:
      |Craig Messinger:
      |interests, Education, achievements/interests, skill set, link to LinkedIn, picture
      |Jesse Miller:
      |interests, Education, achievements/interests, skill set, link to LinkedIn, picture
      |Solomon Shockley:
      |interests, Education, achievements/interests, skill set, link to LinkedIn, picture
      |Yan Zavatsky:
      |interests, Education, achievements/interests, skill set, link to LinkedIn, picture
      |br
   
