doctype html
head
  meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title BUNDL
    link(href='css/bundl_style.css', rel='stylesheet', type='text/css')
  body#home
    #bundl_wrapper
      #bundl_header
        #bundl_menu
          ul
            li
              a(href='index.jade')
                span
                | Home
            |                 
            li
              a(href='features.jade')
                span
                | Features
            |                 
            li
              a(href='support.jade')
                span
                | Support
            |                 
            li
              a(href='about.jade')
                span
                | About
        |  
        |         
        |         
        #bundl_title
          .title_dotted
            h1  BUNDL
        // end of header
        #bundl_main
          a(href='http://www.plus.google.com')  google 
      // end of content
    // end of main
    // end of wrapper
    #bundl_footer_wrapper
      #bundl_footer
        | Copyright &copy; 2015 
        a(href='#') BUNDL
