<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>BUNDL</title>
<link href="css/bundl_style.css" rel="stylesheet" type="text/css" />

     
</head>
<body id="home">
<div id="bundl_wrapper">
    <div id="bundl_header">
        <div id="bundl_menu">
            <ul>
                <li><a href="index.jade"><span></span>Home</a></li>
                <li><a href="features.jade"><span></span>Features</a></li>
                <li><a href="support.jade"><span></span>Support</a></li>
                <li><a href="about.jade"><span></span>About</a></li>
            </ul>    	
        </div> 
        
        <div id="bundl_title">
       	  <div class="title_dotted">
            <h1>WELCOME TO BUNDL</h1>
	</div>
    </div> <!-- end of header -->
    


<div id="bundl_main">
    	
   
 <form>
      <input type="checkbox" name="sel" value="all">Select All&nbsp
      <input type="checkbox" name="sel" value="facebook">Facebook&nbsp
      <input type="checkbox" name="sel" value="google">Google+&nbsp
      <input type="checkbox" name="sel" value="linkedin">LinkedIn&nbsp
      <input type="checkbox" name="sel" value="twitter">Twitter<br>
      <img src="./images/post.png" alt="Post">
    <form> 
    
			</div>
           
        </div> <!-- end of content -->
    </div> <!-- end of main -->
    
</div> <!-- end of wrapper -->
<div id="bundl_footer_wrapper">
    <div id="bundl_footer">
        Copyright © 2015 <a href="#">BUNDL</a>
    	 
    </div>
</div>    


  <script src="./js/mainPage.js"></script>
		
</body>
</html>

