doctype html
head
  title BUNDL
  link(href='css/reset.css', rel='stylesheet', type='text/css')
  link(href='css/bundl_style.css', rel='stylesheet' type='text/css')
  link(href='css/main.css', rel='stylesheet', type='text/css')
body
div
  #home
  #bundl_wrapper
    #bundl_header
      #bundl_menu
        ul
         centerl
          li
            a(href='/index')
              span
              | Home
          |                 
          li
            a(href='/features')
              span
              | Features
          |                 
          li
            a(href='/support')
              span
              | Support
          li
            a(href='/about')
              span
              | About
      #bundl_title
        .title
          img(src='images/bundlLogo8.png', alt='BUNDLe Logo')
      #bundl_main
       #bundl_sidebar
         #signin_area
         include ./smButtons.jade
       section.content
        center
         p
         |Our Mission:
         |Dealing with a multitude of social media websites can be a lot to juggle, so we decided
         |it would be easier to simply integrate them all into a single place where they can all
         |be managed with ease!
         br
         |The Team:
         br
         |Craig Messinger
         br
         |Jesse Miller
         br
         |Solomon Shockley
         br
         |Yan Zavatsky
         br
       div.content_right
   #bundl_index
    footer
     #bundl_footer_wrapper
       #bundl_footer
         | Copyright &copy; 2015 
         a(href='/index') BUNDL
