include ./header.jade
      #bundl_title
        .title
          img(src='/images/bundlLogo8.png', alt='BUNDLe Logo')
      #bundl_main
       #bundl_sidebar
         #signin_area
         include ./feedButton.jade  
         br
         include ./smButtons.jade
       section.content
        center
         p
         |Our Mission:
         |Dealing with a multitude of social media websites can be a lot to juggle, so we decided
         |it would be easier to simply integrate them all into a single place where they can all
         |be managed with ease!
         br
         |The Team:
         br
         |Craig Messinger
         br
         |Jesse Miller
         br
         |Solomon Shockley
         br
         |Yan Zavatsky
         br
       div.content_right
   #bundl_index
    footer
     #bundl_footer_wrapper
       #bundl_footer
         | Copyright &copy; 2015 
         a(href='/index') BUNDL