html
  head
    link(rel='stylesheet', type='text/css', href='bundl_style./css/.css')
  body
    center
      img(src='images/bundlLogo8.png', alt='BUNDLe Logo')
    
      p
      |Our Mission:
      |Dealing with a multitude of social media websites can be a lot to juggle, so we decided
      |it would be easier to simply integrate them all into a single place where they can all
      |be managed with ease!
      br

      p
      |The Team:
      br
      |Craig "Legs" Messinger
      br
      |Jesse "Tag Pro" Miller
      br
      |Solomon "Scrum Master" Shockley
      br
      |Yan "Do you even test bro" Zavatsky
      br
   
