html
  head
    link(rel='stylesheet', type='text/css', href='bundl_style./css/.css')
  body
    center
      img(src='./images/bundlLogo.png', alt='BUNDLe Logo')
    
      p
      |This is a page about us.
      |Some text here. Some more text here. ETC... 
      br
   
