doctype html
head
  title BUNDL
  link(href='/css/reset.css', rel='stylesheet', type='text/css')
  link(href='/css/bundl_style.css', rel='stylesheet' type='text/css')
  link(href='/css/main.css', rel='stylesheet', type='text/css')
body
div
  #home
  #bundl_wrapper
    #bundl_header
      #bundl_menu
        ul
         center
          li
            a(href='/index')
              span
              | Link Accounts
          |                 
          li
            a(href='/features')
              span
              | Features
          |                 
          li
            a(href='/support')
              span
              | Support
          li
            a(href='/about')
              span
              | About