doctype html
head
  title BUNDL
  link(href='css/reset.css', rel='stylesheet', type='text/css')
  link(href='css/bundl_style.css', rel='stylesheet', type='text/css')
  link(href='css/main.css', rel='stylesheet', type='text/css')
body
div.temp
  #bundl_wrapper
    #bundl_header
      #bundl_menu
        ul
          li
            a(href='/features')
              span
              | Features
          |                 
          li
            a(href='/support')
              span
              | Support
          |                 
          li
            a(href='/about')
              span
              | About     
               
      #bundl_title
        .title
          include random.html
       #bundl_main
        //#bundl_sidebar
         #promo_box
         .promo_box
          
        #signin_area
         a(href='/auth/google')
           img(src='images/g+.png', alt='google+ sign in')
         | &nbsp; &nbsp; &nbsp;
         img(src='images/op.png', alt='openId sign in')
         br
         a(href='/auth/facebook')  
           img(src='images/fb.png', alt='facebook sign in')
         | &nbsp; &nbsp; &nbsp;
         img(src='images/tb.png', alt='tumblr sign in')
         br  
         a(href='/auth/twitter')
           img(src='images/tw.png', alt='twitter sign in')
         | &nbsp; &nbsp; &nbsp;
         img(src='images/bg.png', alt='blogger sign in')
         br  
         img(src='/images/li.png', alt='linkedin sign in')
         | &nbsp; &nbsp; &nbsp;
         img(src='/images/pt.png', alt='pinterest sign in')
         br
         img(src='images/vk.png', alt='vk sign in')
         | &nbsp; &nbsp; &nbsp;
         img(src='images/insta.png', alt='instagram sign in')
         br
         img(src='images/xing.png', alt='xing sign in')
         | &nbsp; &nbsp; &nbsp;
         img(src='images/flk.png', alt='flickr sign in')

        div.content_right
         
  #bundl_index
    footer
     #bundl_footer_wrapper
       #bundl_footer
         | Copyright &copy; 2015 
         a(href='/index') BUNDL
