html
  head
    link(rel='stylesheet', type='text/css', href='./css/loginForm.css')
  body
    center
      img(src='./images/bundlLogo.png', alt='BUNDLe Logo')
    h2
      | Login with your favorite
      br
      |  #!SocialMedia
    .logos
      p
        a(href='./main')
          img(src='./images/googleButton.png', alt='Google+')
      br
      p
        a(href='/auth/facebook')
          img(src='./images/facebookButton.png', alt='Facebook')
      br
      p
        a(href='./main')
          img(src='./images/twitterButton.png', alt='Twitter')
      br
      p
        a(href='./main')
          img(src='./images/linkedInButton.png', alt='LinkedIn')
