doctype html
head
  // meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
  title BUNDL
  link(href='css/bundl_style.css', rel='stylesheet', type='text/css')
  body#home
    #bundl_wrapper
      #bundl_header
        #bundl_menu
          ul
            li
              a(href='/index')
                span
                | Home
            |                 
            li
              a(href='/features')
                span
                | Features
            |                 
            li
              a(href='/support')
                span
                | Support
            |                 
            li
              a(href='/about')
                span
                | About
        |  
        |         
        |         
        #bundl_title
          .title
            h1 WELCOME TO BUNDL
        // end of header
        #bundl_main
          #bundl_sidebar
            .promo_box
              h2 Our Latest Promotion
              | 
              ul
                li  WOW
                |                 
                li  FREE STUFF
            |             
            |             
            .review_box
              h2 Reviews
              |                 
              ul
                li BUNDL is #1 
                |                     
                li  Can't live without it
                |                     
                li  Highly recommend it
        |     
        #signin_area
          a(href='/auth/google')
            img(src='images/g+.png', alt='google+ sign in')
          a(href='/auth/facebook')  
            img(src='images/fb.png', alt='facebook sign in')
          br  
          a(href='/auth/twitter')
            img(src='images/tw.png', alt='twitter sign in')
          a(href='/auth/blogger')
            img(src='/', alt='somekind of signin')
      // end of content
    // end of main
    // end of wrapper
    #bundl_footer_wrapper
      #bundl_footer
        | Copyright &copy; 2015 
        a(href='#') BUNDL
