doctype html
head
  title BUNDL
  link(href='css/reset.css', rel='stylesheet', type='text/css')
  link(href='css/bundl_style.css', rel='stylesheet', type='text/css')
  link(href='css/post.css', rel='stylesheet', type='text/css')
  script(type='application/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
  script(type='application/javascript', src='javascript/postPage.js')
body
div
  #home
  #bundl_wrapper
    #bundl_header
      #bundl_menu
        ul
          li
            a(href='/index')
              span
              | Home
          |                 
          li
            a(href='/features')
              span
              | Features
          |                 
          li
            a(href='/support')
              span
              | Support
          |                 
          li
            a(href='/about')
              span
              | About
      |  
      |         
      |         
      #bundl_title
        .title
         h1 WELCOME TO BUNDL
         .account_info
           | WELCOME, #{name}  
           br
           | 
           .logout
             a(href='/logout') Logout!
      #bundl_main
        #bundl_sidebar
          #bundl_sidebar
           #signin_area
            .promo_box
              a(href='./main')
                img(src='./images/feedButton.png', alt='Navigate to Feed')
            |             
            |             
            .review_box
              include ./smButtons.jade
              br
              br
              br
              br
      br
      |   
      center
        div#errors 
        form(method="post", action="/post", enctype="multipart/form-data")
          input(type='checkbox', name='sel', value='0')
          | Select All
          |       
          input(type='checkbox', name='sel', value='1')
          | Facebook
          |       
          input(type='checkbox', name='sel', value='3', class='readonly', disabled='disabled')
          | Google+
          |       
          input(type='checkbox', name='sel', value='4', class='readonly', disabled='disabled')
          | Blogger
          |       
          input(type='checkbox', name='sel', value='2')
          | Twitter
          br
          input(type="file", name="fileName")
          br
          input(type='text', name='picture',value='', placeholder='Enter Link Here')
          textarea(name='postMessage', placeholder='Enter your message here...', cols='75', rows='10', autofocus=true, required)
          div#submit
            input(type='submit', value='Post!')

 #bundl_index
   footer
    #bundl_footer_wrapper
      #bundl_footer
        | Copyright &copy; 2015 
        a(href='/index') BUNDL
