head
  title BUNDL Feed
  body
    center
      img(src='./images/bundlLogo7.png', alt='BUNDL Logo')
    |   
    aside.links
      a(href='./main')
        img(src='./images/feedButton.png', alt='Navigate to post')
      |     
      a(href='http://www.plus.google.com')
        img(src='./images/googleButton.png', alt='Navigate to Google+')
      |     
      a(href='http://www.facebook.com')
        img(src='./images/facebookButton.png', alt='Navigate to Facebook')
      |     
      a(href='http://www.twitter.com')
        img(src='./images/twitterButton.png', alt='Navigate to Twitter')
      |     
      a(href='http://www.linkedin.com')
        img(src='./images/linkedInButton.png', alt='Navigate to LinkedIn')
    |   
    section
      center
        br
        |     
        img(src='./images/post2rep.png', alt='post2')
        br
        |  
        a(href='./reply')
          img(src='./images/reply.png', alt='reply')
        br
        |  
        a(href='./reply')
          img(src='./images/reply2.png', alt='reply')
        br
        |     
        img(src='./images/post2.png', alt='post2')
        br
        |     
        img(src='./images/post2.png', alt='post2')
        br
        |     
        img(src='./images/post2.png', alt='post2')
        br
        |     
        img(src='./images/post2.png', alt='post2')
        br
        |     
        img(src='./images/post2.png', alt='post2')
        br
        |     
        img(src='./images/post2.png', alt='post2')
        br
        |     
        img(src='./images/post2.png', alt='post2')
        br
        |     
        img(src='./images/post2.png', alt='post2')
        br
    footer
