doctype html
head
  title BUNDL
  link(href='/css/reset.css', rel='stylesheet', type='text/css')
  link(href='/css/bundl_style.css', rel='stylesheet', type='text/css')
  link(href='/css/main.css', rel='stylesheet', type='text/css')
  script(type='application/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
  script(type='application/javascript', src='/javascript/postPage.js')
body
div.temp
  #home
  #bundl_wrapper
    #bundl_header
      #bundl_menu
        ul
          li
            a(href='/index')
              span
              | Link Accounts
          |                 
          li
            a(href='/features')
              span
              | Features
          |                 
          li
            a(href='/support')
              span
              | Support
          |                 
          li
            a(href='/about')
              span
              | About
      |  
      |         
      |         
      #bundl_title
        .title
         include random.html 
       
       
       #bundl_main
       .account_info
        |WELCOME, #{name}  
       br
       .logout
        a(href='/logout') Logout! <br>

       #bundl_sidebar
         #signin_area
           include ./feedButton.jade  
           br
           include ./smButtons.jade
       br
       section.content
         div#errors 
         form(method="post", action="/post", enctype="multipart/form-data")
          input(type='checkbox', name='sel', value='0')
          | Select All
          |       
          input(type='checkbox', name='sel', value='1')
          | Facebook
          |       
          input(type='checkbox', name='sel', value='3', class='readonly', disabled='disabled')
          | Google+
          |       
          input(type='checkbox', name='sel', value='2')
          | Twitter
          | 
          br
          div.clear
          br
          input(type="file", name="fileName")
          div.clear
          br
          textarea(name='postMessage', placeholder='Enter your message here...', cols='75', rows='10', autofocus=true, required)
          div.clear
          br
          div#submit
            input(type='submit', value='Post!')
       div.content_right   
footer.temp
#bundl_index
 #bundl_footer_wrapper
   #bundl_footer
     | Copyright &copy; 2015 
     a(href='/index') BUNDL
