doctype html
head
  title BUNDL
  link(href='css/bundl_style.css', rel='stylesheet', type='text/css')
  body#home
    #bundl_wrapper
      #bundl_header
        #bundl_menu
          ul
            li
              a(href='/index.jade')
                span
                | Home
            |                 
            li
              a(href='/features.jade')
                span
                | Features
            |                 
            li
              a(href='/support.jade')
                span
                | Support
            |                 
            li
              a(href='/about.jade')
                span
                | About
        |  
        |         
        |         
        #bundl_title
          .title
            h1 WELCOME TO BUNDL
        // end of header
        #bundl_main
          #bundl_sidebar
            #bundl_sidebar
              .promo_box
                a(href='./main')
                  img(src='./images/feedButton.png', alt='Navigate to Feed')
              |             
              |             
              .review_box
                a(href='http://www.plus.google.com')
                  img(src='images/google-plus.png', alt='Navigate to Google+')
                br 
                a(href='http://www.facebook.com')
                  img(src='images/facebook.png', alt='Navigate to Facebook')
                br
                a(href='http://www.twitter.com')
                  img(src='images/twitter.png', alt='Navigate to Twitter')
                br
                a(href='http://www.linkedin.com')
                  img(src='images/linkedin.png', alt='Navigate to LinkedIn')
        br
        |   
        center
          form(method="post", action="/post")
            input(type='checkbox', name='sel', value='0')
            | Select All
            |       
            input(type='checkbox', name='sel', value='1')
            | Facebook
            |       
            input(type='checkbox', name='sel', value='google')
            | Google+
            |       
            input(type='checkbox', name='sel', value='linkedin')
            | Blogger
            |       
            input(type='checkbox', name='sel', value='2')
            | Twitter
            br
            |     
            br
            br
            input(type='text', name='picture',value='https://babbage.hbg.psu.edu:6395/images/bloggr.png')
            textarea(name='postMessage', placeholder='Enter your message here...', cols='75', rows='10', autofocus=true, required)
            div#submit
              input(type='submit', value='Post!')

    // end of content
    // end of main
    // end of wrapper
    #bundl_footer_wrapper
      #bundl_footer
        | Copyright &copy; 2015 
        a(href='#') BUNDL
    |     
    |   
