doctype html
html
  head
    title BUNDL
  body
    a(href="/") Logout!!
    br
    a(href="./post") 
      img(src='./images/post2.png')
      br
      img(src='./images/post2.png')
    p foo of Index #{index.test}
