doctype html
head
  title BUNDL
  link(href='css/reset.css', rel='stylesheet', type='text/css')
  link(href='css/bundl_style.css', rel='stylesheet', type='text/css')
body
div
  #home
  #bundl_wrapper
    #bundl_header
      #bundl_menu
        ul
          li
            a(href='/index')
              span
              | Home
          |                 
          li
            a(href='/features')
              span
              | Features
          |                 
          li
            a(href='/support')
              span
              | Support
          |                 
          li
            a(href='/about')
              span
              | About
      |  
      |         
      |         
      #bundl_title
        .title
         h1 WELCOME TO BUNDL
         .account_info
           | WELCOME, #{name}  
           br
           | 
           .logout
             a(href='/logout') Logout!
      #bundl_main
        #bundl_sidebar
          #bundl_sidebar
           #signin_area
            .promo_box
              a(href='./main')
                img(src='./images/feedButton.png', alt='Navigate to Feed')
            |             
            |             
            .review_box
              include ./smButtons.jade
              br
              br
              br
              br
      br
      |   
      center
        section.content
         img(src='./images/post.png', alt='Post')
   
 #bundl_index
   footer
    #bundl_footer_wrapper
      #bundl_footer
        | Copyright &copy; 2015 
        a(href='/index') BUNDL