include ./header.jade            
      #bundl_title
       .title
         img(src='/images/bundlLogo7.png', alt='BUNDLe Logo')
      #bundl_main
       #bundl_sidebar
         #signin_area
         include ./feedButton.jade
         br 
         include ./smButtons.jade
       section.content
        center
        p
        |If you need help please contact bundlhelpdesk@gmail.com
        br
       
       div.content_right

include ./footer.jade