body {
	color: #333;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	background-color: #ececec;
	background-repeat: repeat-x;
	background-position: top;
	
}

#subpage { 
	background-image: url(../images/bundl_body_sp.png); 
}

a, a:link, a:visited { 
	color: #000; 
	font-weight: normal; 
}

a:hover { 
	text-color: orange; 
}


p { 
	margin: 0 0 10px 0; 
	padding: 0; 
}


blockquote { 
	font-style: italic; 
	margin: 0 0 20px 10px;
}

cite { 
	font-weight: bold; 
	color:#000; 
}

cite a, cite a:link, cite a:visited  { 
	font-weight: bold; 
	color:#000; 
}

cite span { 
	font-weight: 400; 
	color: #666; 
}

em { color: #000; }

h1, h2, h3, h4, h5, h6 { color: #000; font-weight: normal; }
h1 { font-size: 45px; margin: 0 0 30px; padding: 0 0 }
h2 { font-size: 28px; margin: 20px 0 15px; padding: 5px 0; }
h3 { font-size: 22px; margin: 0 0 20px; padding: 0; }
h4 { font-size: 18px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 16px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 14px; margin: 0 0 5px; padding: 0; }


.float_l { float: left }
.float_r { float: right }


.bundl_list { 
	margin: 15px 0 15px 15px; 
	padding: 0; 
	list-style: none; 
}

.bundl_list li { 
	color:#000; 
	margin: 0 0 5px 0; 
	padding: 0 0 0 15px; 
	 
}

.bundl_list li a { 
	color: #000; 
	font-weight: normal; 
}


#bundl_wrapper {
	margin: 0 auto;
	padding: 0 5px;
}

#bundl_header {
	height: 815px;
	
}

/* menu */

#bundl_menu {
	clear: both;
	height: 40px;
}

#bundl_menu ul {
	margin: 0 auto;
	list-style: none;
  text-align:center;
}

#bundl_menu ul li {
	padding: 0;
	margin: 0;
	display: inline;
}

#bundl_menu ul li a {
	height: 35px;
	line-height: 30px;
	padding: 5px 20px 0 15px;
	margin-left: 6px;
	font-size: 16px;
	color: #000;	
	text-align: center;
	text-decoration: none;
	font-weight: 400;
	outline: none;
	border: none;
}

#bundl_menu ul li a:hover, #bundl_menu ul .current {
	position: relative;
	color: #fff;
	
}

#bundl_menu ul li a:hover span, #bundl_menu ul .current span{
	position: absolute;
	top: 0; left: -5px;
	width: 5px; height: 40px;
	
}
/* title */

.title{
	text-align: center;
	padding-bottom: 20px;
}

/* main */

#bundl_main {
	clear: both;
}

/* sidebar */

#bundl_sidebar {
	float: left;
	width: 30%;
  text-align: center;
}

.sidebar_box {
	padding-bottom: 15px;
	margin-bottom: 15px;
}

.promo_box {
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.promo_box a { 
	font-weight: 700;  
}

.sidebar_nav { 
	margin: 0; 
	padding: 0 100px 0 10px; 
	list-style: none; 
}

.sidebar_nav li { 
	margin: 0; 
	padding: 0; 
}

.sidebar_nav li a { 
	display: block; 
	text-decoration: none; 
	padding-bottom: 2px;
	margin-bottom: 8px; 
}

.sidebar_nav li a:hover { 
	padding-left: 10px; 
	color: #000; 
}

#signin_area{
  float:left;
  width:50%;
}

/* content */

#bundl_content {
	float: left;
	width: 60%;
}

.feat{
  float: left;
  width: 50%;
}
.account_info{
	float: right;
}

.logout{
	float: right; 
}

/* footer */

#bundl_footer_wrapper {
	clear: both;
	
	border-top: 1px solid #898989;
	background: #aeaeae;
  bottom: 0px;
  
}

#bundl_footer {
	clear: both;
	height: 20px;
	color: #666;
	text-align: center;
  bottom: 0px;
}

#bundl_footer a { 
	color: #000; 
	text-decoration: underline; 
}

#bundl_index{
  float: left;
  clear: both;
  bottom: 0px;
  left: 0px;
  width: 100%;
  position: absolute; 
}
